[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/rubytest.vim"]
	path = .vim/bundle/rubytest.vim
	url = git://github.com/janx/vim-rubytest.git
[submodule ".vim/bundle/bufexplorer.vim"]
	path = .vim/bundle/bufexplorer.vim
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
        ignore = untracked
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/confluencewiki"]
	path = .vim/bundle/confluencewiki
	url = https://github.com/vim-scripts/confluencewiki.vim.git
[submodule ".vim/bundle/svndiff"]
	path = .vim/bundle/svndiff
	url = git://github.com/vim-scripts/svndiff.git
[submodule ".vim/bundle/plantuml-syntax"]
	path = .vim/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/bundle/rename"]
	path = .vim/bundle/rename
	url = git://github.com/danro/rename.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-rvm"]
	path = .vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
